@font-face
{
    font-family: 'Horizon';
    src: url("https://drive.google.com/file/d/1yKAPjVvw1fZqqIyT6bU9se9nFtJTuLrj/view?usp=drive_link");
}

html
{
	font-family: 'Horizon';
	margin: 10px;
	background:#212121;
	color: white;
	scroll-behavior: smooth;
}

.topBar
{
	background: black;
	padding: 20px;
	border-radius: 5px;
	transition: font-size 200ms;
}

.topBar:hover
{
	font-size:large;
}

.showReel
{
	text-align: center;
	align-content: center;
}

.spacing
{
	margin-right: 15px;
}

a
{
	color:inherit;
}

img
{
	transition: border-radius 200ms;
	border-radius: 50px;
}

img:hover
{
	border-radius: 25px;
}

#bottomLinks
{
	margin-left: auto;
	margin-right: auto;
}

td
{
	padding: 0px 50px;
}